.Icon {
    display: flex;
    width: 10rem;
    cursor: pointer;
    margin-top: -11%;
    margin-bottom: 5%;
    margin-left: -18%;
}

.carrito {

    color: white;
    font-size: 4rem;
    cursor: pointer;
}

@media (max-width: 600px){
    .carrito {
        font-size: 3rem;
    }
}