.main-footer {
  color: white;
  padding-top: 3em;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 50%;
}

.list-unstyled {
  margin-top: 10rem;
}

.iconooo {
  margin-top: 1%;
  margin-bottom: -10%;
  font-size: 300%;
}
.row{
  margin-bottom: -18%;
}
.col {
  margin-left: 2%;
}

li {
  list-style: none;
}

.col-sm {
  text-align: center;
}