.contenedorr{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.productos{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 5%;
  max-width: 100%;
}
.productoss{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-items: center;
  width: 300px;
  margin-bottom: 10%;
  margin: 2rem;
}

#card{
    border-radius: 50px;
    text-align: center;
    height: 100%;
}
.imagenproducts{
    margin: auto;
    border:  3px solid rgb(255, 255, 255);
    border-radius: 50px 50px 0 0 ;
    width: 98%;
    height: 300px;
}
.buttonnavv{
  display: flex;
  justify-content: center;
  justify-items: center;
  margin-top: 5%;
  height: 2rem;
  width: 10rem;
  text-align: center;
  border-radius: 50px;
}
.buttonnavv:hover {
  cursor: pointer;
  border-bottom: none;
  border-top: none;
  background-color: #090f68;
  transition: 1s;
}




