.detailContainer{
    display: flex;
    justify-content: space-between;
}
.divDetail{
    width: 100%;
}
.card{
    display: flex;
    margin-top: 2%;
}
.textoCuerpo{
    text-align: justify;
    

}
.itemName{
    font-size: 300%;
    margin-top: 5%;
}
.itemPrices{
    font-size: 200%;
}
.divImg{
    margin: auto 10%;
}
.cardbody{
    margin: auto 10%;
    width: 100%;
} 

.checkout{
    margin-top: 5%;
    width: 50%;
    height: 80px;
}