.contador{
    margin: auto;
    display: flex;
    justify-content: center;
    justify-items: center;
    height: 100%;
    width: 70%;
    
}
.contadordiv{
    display: grid;
    margin: auto;
    height: 50%;
    width: 50%;

}

.valor{
    font-size: 200%;
    text-align: center;
}
.botones{
    display: flex;
    justify-content: space-between;
}
.botoncount{
    cursor: pointer;
    color: white;
    height: 50%;
    width: 50%;
    border-radius: 50px;
    border: 1px solid white;
    background-color: black;
    margin: 1%;
}
.contadorrrr{
    font-size: 300%;
    text-align: center;
}

.addcart{
    color: white;
    background-color: black;
    border-radius: 50px;
    border: 1px solid white;
    height: 40%;
    width: 40%;
    justify-items: center;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}



