.bg-dark {
    display: flex;
    justify-content: center;
    justify-items: center;
    text-align: center;
    color: white;
    height: 30em;
}


.divtoptex{
    margin-right: 15%;
}

.textoo {
    display: grid;
    margin: auto;
    margin-top: 18%;
    
}

.texto {
    text-align: center;
    width: 25rem;
    margin-top: 10%;
}

.fundadores {
    background-image: url(../assets/remerablanca.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
    margin-top: 10%;
    display: flex;
    justify-content: space-between;
    justify-items: center;
    text-align: center;
}

.media {
    margin-top: 15%;
    margin-bottom: 5%;
    width: 100%;
    height: 80%;
    font-size: 20px;
}



@media (max-width: 1200px) {
   .fundadores{
    width: 110%;
   }
}


@media (max-width: 800px) {
    .bg-dark{
    display: grid ;
    justify-content: center;
    justify-items: center;
    text-align: center;
}
.divtoptex{
    display: flex;
    margin: auto;
}
.textoo{
    margin-top: 25%;
    margin-bottom: 5%;
}
.texto{
    width: 25rem;
    margin-left: 0;
}

.fundadores{
    margin-top: 100%;
}
}
@media (max-width: 500px) {
    
  .textoo{
    margin-bottom: -10%;
  }
 
 }