
#card{
    display: flex;
    justify-content: space-between;
}

.cardbody{
    margin-left: 20%;
    margin-top: 10%;
    width: 500px;
}

.imagenproduct{
    margin-left: 30%;
    margin-top: -10%;
}
