.productos{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  margin-bottom: 10%;
  margin-top: 2%;
}

#card{
    display: grid;
    border: 1px solid white;
    border-radius: 50px;
    text-align: center;
}
.imagenproduct{
    margin: auto;
    border:  3px solid black;
    border-radius: 50px 50px 0 0 ;
    width: 98%;
    height: 300px;
}