.contador{
    margin: auto;
    display: flex;
    justify-content: center;
    justify-items: center;
    height: 150px;
    width: 70%;
}

.contadordiv{
    display: flex;
    justify-content: center;
    justify-items: center;
    margin: auto;
    height: 150px;
    width: 100%;
}

.botoncount{
    margin: auto;
    height: 50%;
    width: 20%;
}
.contadorrrr{
    font-size: 300%;
    display: flex;
    margin: auto;
    text-align: center;

}

.valor{
    display: flex;
    margin: auto;
    font-size: 200%;
    text-align: center;
}

.addcart{
    margin: auto;
    background-color: rgb(88, 83, 83);
    height: 50%;
    width: 20%;
}