.productos{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  margin-bottom: 10%;
}

#card{
    display: grid;
    border-radius: 50px;
    text-align: center;
    height: 100%;
    margin: auto;
}
.imagenproducts{
    margin: auto;
    border:  3px solid rgb(255, 255, 255);
    border-radius: 50px 50px 0 0 ;
    width: 98%;
    height: 300px;
}