.Menu{
    width: 100%;
    margin-bottom: 2%;
}
h1{
    text-align: center;
  }
  
  nav{
    display: flex;
    text-align: center;
    margin: auto ;
    flex-direction: row;
    
  }

  .buttonnav{
    display: flex;
    justify-content: center;
    margin: auto;
    height: 4rem;
    width: 15rem;
    text-align: center;
    border-radius: 50px;
  }
  
  .buttonnav:hover {
    cursor: pointer;
    border-bottom: none;
    border-top: none;
    background-color: #b8c40f;
    transition: 1s;
  }

  li {
    margin:5%;
    cursor: pointer;
    text-align: center;
    list-style: none;
    text-decoration: none;
  }

  @media (max-width: 800px){
    nav{
      justify-content: space-between;
    }
    h1{
      font-size: 35px;
    }
    li{
      font-size: 15px;
    }
    .buttonnav {
      height: 2rem;
      width: 20rem;
    }
    
  };

  
  @media (max-width: 500px){
    nav{
      justify-content: space-between;
    }
    h1{
      font-size: 20px;
    }
    li{
      font-size: 10px;
    }
    .buttonnav {
      height: 1.5rem;
      width: 20rem;
    }
    
  };
